@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;800&family=Noto+Sans:wght@900&family=Plus+Jakarta+Sans:wght@700&display=swap');

.chatroom {
    display: flex;
    justify-content: center;
    margin: 5rem;
    margin-top: 1rem;
    gap: 1rem;
}

.chat { 
    margin: 1rem 5rem 1rem 5rem;
    overflow: auto;
    height: 6rem;

    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;

}

.header {
    display: flex;
    justify-content: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}


.alert {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;

    margin: 1rem 5rem 1rem 5rem;

    display: flex;
    justify-content: center;
}

.chatButton{
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: white;
    background-color: black;
    border: 0.2rem white solid;
    border-radius: 0.5rem;

}

.chatBox{
    flex-grow: 5;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;

}


.chat::-webkit-scrollbar {
    -webkit-appearance: scrollbartrack-vertical;
    width: 8px;
}

.chat::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3);
}

.chat::-webkit-scrollbar-thumb {
    background-color: white;
}