@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
.item {

    font-family: "Plus Jakarta Sans", sans-serif;
}

.title{
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

}
.amount{
    font-weight: 200;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;

}
